<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head"></head>
<body>

    <div th:replace="/fragments/header.html :: header"></div>

    <div class="container feed">
        <div class="post-form container">
            <div class="card">
                <div class="card-body">
                    <form th:action="@{/feed}" method="post">
                        <textarea class="post-input" name="text" th:placeholder="#{feed.something}" style="width: 100%;"></textarea>
                        <div class="error-text" th:if="${postEmpty}" th:text="#{error.postEmpty}"></div>
                        <div class="error-text" th:if="${internalError}" th:text="#{error.internal}"></div>
                        <button class="btn btn-primary border rounded float-right" type="submit" th:text="#{feed.post}"></button>
                    </form>
                </div>
            </div>
        </div>

        <div class="posts" th:data-last="${latestPostId}">
            <div class="post" th:each="post : ${posts}" th:insert="/fragments/post.html :: post" th:id="${post.postId}"></div>
        </div>

        <div class="container">
            <div class="card">
                <button class="btn btn-primary border rounded" type="button" th:text="#{feed.more}"></button>
            </div>
        </div>
    </div>
    
    <div th:replace="/fragments/footer.html :: footer"></div>

    <script th:src="@{/js/feed.js}"></script>

</body>
</html>