<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head"></head>
<body class="home">

<div class="container">
        <div class="text">
            <h1 th:text="#{application.name}"></h1>
            <h2>Teilen Sie sich der Welt mit!</h2>
            <p>Posten Sie nach Belieben was auch imer Sie anderen mitteilen möchten. <br/>
                Genießen Sie dabei die besondere Sicherheit dieser Plattform.</p>
            <button class="btn btn-outline-light btn-lg" type="button">Einloggen</button>
            <button class="btn btn-outline-light btn-lg" type="button">Registrieren</button>
        </div>
    </div>
</div>


</body>
</html>