<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head"></head>
<body class="home">

<div class="container">
        <div class="text">
            <h1 th:text="#{application.name}"></h1>
            <h2 th:text="#{home.heading}"></h2>
            <p th:text="#{home.subheading}"></p>
            <a class="btn btn-outline-light btn-lg" type="button" th:text="#{form.login}" th:href="@{/login}"></a>
            <a class="btn btn-outline-light btn-lg" type="button" th:text="#{form.register}" th:href="@{/register}"></a>
        </div>
    </div>
</div>


</body>
</html>