<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head"></head>
<body class="login">

<div class="header" th:insert="/fragments/header :: header"></div>

    <div>
        <form th:action="@{/register}" method="post">
            <h2 class="sr-only">Register Form</h2>
            <div class="illustration"><i class="fas fa-lock"></i></div>
            <div class="form-group"><input class="form-control" type="email" name="username" placeholder="Username" /></div>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email" /></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Passwort" /></div>
            <div class="form-group"><input class="form-control" type="password" name="password2" placeholder="Passwort" /></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Register</button></div>
        </form>
    </div>

</body>
</html>