<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{application.name}"></title>
    <!--/* JQuery */-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--/* Popper JS */-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!--/* Bootstrap */-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!--/* Fontawesome */-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css">
    <!-- Own Less Stylesheet -->
    <link rel="stylesheet/less" type="text/css" th:href="@{/css/general.less}">
    <!--/* LESS */-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
</head>
<body class="container-fluid">

<footer class="footer pb-3" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <ul class="footer-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Anmelden</a></li>
                    <li><a href="#">Registrieren</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        © 2019 VulnBook
    </div>
</footer>

</body>
</html>