<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="header">
    <nav class="navbar navbar-expand-md navigation-clean-button">
        <div class="container">
            <a href="#" class="brand">VulnBook</a>
            <ul class="nav navbar-nav mr-auto">
            </ul>
            <span class="navbar-text actions">
                <div th:if="${loggedIn}">
                    <a class="btn btn-primary action-button" role="button" th:href="@{/logout}" th:text="#{form.logout}"></a>
                </div>
                <div th:if="${loggedIn == null}">
                    <a class="btn btn-primary action-button" role="button" th:href="@{/login}" th:text="#{form.login}"></a>
                    <a class="btn btn-primary action-button" role="button" th:href="@{/register}" th:text="#{form.register}"></a>
                </div>
            </span>
        </div>
    </nav>
</div>

</body>
</html>